*{
  padding: 0;
  margin: 0;
}

html,
body{
  height: 100%
}

#home{
  height: 135% /* ...of viewport height */
}

#home div{
  height: 100%; /* ...of #home height */
  position: relative;
}
  img{
    position: fixed;
  }

/* top definitions put bottom of fg images outside container by about 10% */
#one{
  background: red;
}
#one img + img{
  height: 61.35%; /* ...derived from original slice ratios */
  right: 0;
  top: 48.65%;
}
#one img + img + img{
  height: 90.97%;
  right: 15%;
  top: 19.03%;
}

#two{
  background: yellow
}
#two img{
  top: 135%
}


#three{
  background: blue
}
