*{
  padding: 0;
  margin: 0;
}

html,
body{
  height: 100%
}

div{
  height: 120%;
  position: relative;
}
  div img{
    position: fixed;
  }
  .bg{
    display: none
  }
  #agave{
    height: 61.35%;
    right: 0;
    top: 48.65%;
  }
  #carlos{
    height: 90.97%;
    right: 15%;
    top: 20%; /*to match the 120% container height which will allow for some dedicated parallaxin'*/
  }

.one{
  overflow: hidden;
  background: red
}
.two{
  background: yellow
}
.three{
  background: blue
}
